*{
  margin: 0;
  padding: 0;
}

body,html{
  background-color: black;
  color: white;
}

.card{
  background-color: red;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 50px;
  padding: 10px;
  color: yellow;
}