.header{
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px ;
    margin: 5px;
}

.btn{
    background-color: black;
    color: aquamarine;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 2px 5px;
    font-size: 20px;
    border: none;
}