*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.button{
    margin: 2px;
    padding: 10px 20px ;
    font-weight: 800;
    font-size: large;
}